<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869798849453-n8e3feq7qm8keocc495jvsqurni3cm92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869798849453-n8e3feq7qm8keocc495jvsqurni3cm92</string>
	<key>API_KEY</key>
	<string>AIzaSyCpCxix_i3v3O0SuW6Oz2TD8Ye6swkZbFA</string>
	<key>GCM_SENDER_ID</key>
	<string>869798849453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.rastsisheuski.Question</string>
	<key>PROJECT_ID</key>
	<string>questionapp-ebf7c</string>
	<key>STORAGE_BUCKET</key>
	<string>questionapp-ebf7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869798849453:ios:68a0f8754d04ab85b0cf24</string>
</dict>
</plist>